<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Conócenos</title>
</head>
<body>
    <header>
        <h1>Opciones</h1>
        <nav>
            <ul>
                <li><a href="/bienvenida">Bienvenida</a></li>
                <li><a href="/quienesSomos">¿Quienes Somos?</a></li>
                <li><a href="/conocenos">Conócenos</a></li>
            </ul>
        </nav>
    </header>
    <section id="conocenos">
        <h2>Conócenos</h2>
        <p>Esta sección está dedicada a conocernos mejor. Aqui podras saber las actividades que realizamos</p>
    </section>
</body>
</html>
