<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Quiénes Somos</title>
</head>
<body>
    <header>
        <h1>Opciones</h1>
        <nav>
            <ul>
                <li><a href="/bienvenida">Bienvenida</a></li>
                <li><a href="/quienesSomos">¿Quiénes Somos?</a></li>
                <li><a href="/conocenos">Conócenos</a></li>
            </ul>
        </nav>
    </header>
    <section id="quienesSomos">
        <h2>¿Quiénes somos?</h2>
        <p>Alumno: Ortega Batun Luis Fernando</p>
        <p>Bienvenido a la tarea que utiliza Node, solicitada el 22 de Octubre del 2024, Grupo 1710, Semestre 2025-I.</p>
    </section>
</body>
</html>