body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #e9ecef;
    color: #495057;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #dbdbdb;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    margin: 8px 0;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin: 5px 0;
    border: 2px solid #007BFF;
    border-radius: 6px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.qr-code-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    text-align: center;
}

@media (max-width: 600px) {
    .input-group {
        flex: 1 1 100%;
    }
    button {
        width: 100%;
        margin: 5px 0;
    }
}

